<footer class="footer">
  <div class="footer-container">
    <div class="stores">
      <a href="#" class="store-btn app-store">Download on the App Store</a>
      <a href="" class="store-btn google-play">GET IT ON Google Play</a>
    </div>
    <ul class="logo-items">
      <li><a href="#" class="visa">VISA</a></li>
      <li><a href="#" class="mastercard">mastercard</a></li>
      <li><a href="#" class="qiwi">qiwi</a></li>
      <li><a href="#" class="yandex">yandex money</a></li>
    </ul>
    <div class="social-box">
      <ul class="social-networks">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-vk"></i></a></li>
      </ul>
      <span class="circle">18+</span>
    </div>
  </div>
</footer>
